.about {
  box-sizing: border-box;
  width: 320px;
  margin: 0 auto;
  padding: 31px 30px 58px;

  @media (min-width: 768px) {
    width: 768px;
    padding: 56px 50px 0;
  }

  @media (min-width: 1150px) {
    width: 1150px;
    padding-top: 68px;
  }
}

.about__wrapper {
  @media (min-width: 1150px) {
    padding: 0 175px;
  }
}

.about__title {
  font-size: 25px;
  line-height: 30px;
  margin: 0;

  @media (min-width: 768px) {
    font-size: 43px;
    line-height: 50px;
  }

  @media (min-width: 1150px) {
    font-size: 53px;
    line-height: 57px;
  }
}
