.about-list {
  padding: 0;
  margin: 0;
  list-style-type: none;

  @media (min-width: 768px) {
    display: grid;
    grid-template-columns: 265px 325px;
    gap: 110px 70px;
    margin: 98px 0 83px;
  }

  @media (min-width: 1150px) {
    margin: 95px 0 90px;
  }
}

.about-list__item {
  position: relative;
  margin-top: 83px;
  font-size: 17px;
  line-height: 20px;
  font-weight: 700;

  &::before {
    content: "";
    position: absolute;
    width: 55px;
    height: 38px;
    bottom: 40px;
    background-repeat: no-repeat;
    background-position: bottom left;
  }

  @media (min-width: 768px) {
    margin: 0;
    font-size: 20px;
    line-height: 22px;

    &::before {
      bottom: 44px;
    }
  }
}

.about-list__item--ecology {
  &::before {
    background-image: url("../img/ecology.svg");
    bottom: 40px + 17px;
    left: 8px;
  }

  @media (min-width: 768px) {
    grid-column: 1 / 2;

    &::before {
      bottom: 44px + 18px;
    }
  }
}

.about-list__item--price {
  &::before {
    background-image: url("../img/price.svg");
    bottom: 40px + 26px;
  }

  @media (min-width: 768px) {
    grid-column: 1 / 2;

    &::before {
      left: 1px;
      bottom: 44px + 26px;
    }
  }
}

.about-list__item--likes {
  &::before {
    background-image: url("../img/likes.svg");
    bottom: 40px + 21px;
    left: 7px;
  }

  @media (min-width: 768px) {
    grid-column: 1 / 2;

    &::before {
      left: 8px;
      bottom: 44px + 21px;
    }
  }
}

.about-list__item--handmade {
  &::before {
    background-image: url("../img/handmade.svg");
    bottom: 40px + 17px;
    left: 3px;
  }

  @media (min-width: 768px) {
    grid-column: 2 / 3;
    grid-row: 1 / 2;

    &::before {
      left: 2px;
      bottom: 44px + 19px;
    }
  }
}

.about-list__item--support {
  &::before {
    background-image: url("../img/support.svg");
    bottom: 40px + 26px;
    left: -6px;
  }

  @media (min-width: 768px) {
    grid-column: 2 / 3;
    grid-row: 2 / 3;

    &::before {
      left: -7px;
      bottom: 44px + 28px;
    }
  }
}

.about-list__item--present {
  &::before {
    background-image: url("../img/present.svg");
    bottom: 40px + 20px;
    left: 3px;
  }

  @media (min-width: 768px) {
    grid-column: 2 / 3;
    grid-row: 3 / 4;

    &::before {
      left: 2px;
      bottom: 44px + 21px;
    }
  }
}
