.address {
  font-style: normal;
  font-size: 17px;
  line-height: 30px;
  color: #444444;
}

.address__email {
  padding-bottom: 8px;
  text-decoration: none;
  color: #444444;
  box-shadow: 0 1px 0 0 #62D1BA;
}
