.catalog-header {
  display: flex;
  flex-direction: column;
  width: 320px;
  margin: 0 auto;
  font-size: 17px;
  font-weight: 700;
  line-height: 24px;

  @media (min-width: 768px) {
    flex-direction: row;
    width: 768px;
    margin: 0 auto;
    min-height: 89px;
  }

  @media (min-width: 1150px) {
    width: 1150px;
    margin: 0 auto;
  }
}

.catalog-header__logo {
  display: inline-block;
  height: 79px;

  @media (min-width: 768px) {
    display: none;
  }
}

.catalog-header__logo svg {
  display: block;
  margin: 22px auto 0;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}
