.catalog-footer {
  padding: 25px 30px 23px;
  background-color: #f1f1f1;

  @media (min-width: 768px) {
    padding: 51px 50px 58px;
  }
}

.catalog-footer__wrapper {
  @media (min-width: 768px) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 668px;
    margin: 0 auto;
  }

  @media (min-width: 1150px) {
    width: 950px;
  }
}

.catalog-footer__logo {
  display: none;

  @media (min-width: 768px) {
    display: block;
    height: 34px;
  }

  &:hover {
    fill: #46c1ae;
  }

  &:active {
    opacity: 0.3;
  }
}
