.catalog-nav {
  position: relative;

  @media (min-width: 768px) {
    position: unset;
    display: flex;
  }
}

.catalog-nav__wrapper {
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 1;
  width: 100%;
  background-color: #ffffff;

  &--nojs {
    position: initial;
  }

  @media (min-width: 768px) {
    display: flex;
    box-sizing: border-box;
    position: initial;
    padding: 0 50px;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: transparent;
  }

  &--close {
    display: none;

    @media (min-width: 768px) {
      display: flex;
    }
  }
}

.catalog-nav__logo {
  order: 0;
  display: none;

  @media (min-width: 768px) {
    position: relative;
    display: block;
    margin-top: 22px;
    margin-right: auto;

    &::after {
      content: "";
      position: absolute;
      width: 768px;
      height: 1px;
      border-bottom: 1px solid #e1e1e1;
      left: -50px;
      bottom: 0;
    }
  }

  @media (min-width: 1150px) {
    display: block;
    margin-top: 9px;

    &::after {
      left: -107px;
    }
  }
}

.catalog-nav__logo img {
  @media (min-width: 1150px) {
    width: 149px;
    height: 72px;
  }
}

.catalog-nav__list {
  padding: 0;
  list-style-type: none;
}

.catalog-nav__toggle {
  position: absolute;
  top: -55px;
  right: 26px;
  width: 30px;
  height: 30px;
  padding: 0;
  border: none;
  cursor: pointer;


  @media (min-width: 768px) {
    display: none;
  }
}

.catalog-nav__delivery {
  display: none;
  font-size: 15px;
  font-weight: 400;

  @media (min-width: 768px) {
    order: 3;
    display: block;
    margin: 0 0 auto auto;
    padding-top: 20px;
  }
}
