.catalog-header {
  padding-top: 9px;
  padding-right: 52px;
  padding-left: 50px;
  min-height: 89px;
  font-size: 17px;
  font-weight: 700;
  line-height: 24px;

}

.catalog-header__logo {
  display: inline-block;
  max-height: 35px;
}

