.contacts {
  box-sizing: border-box;
  width: 320px;
  margin: 0 auto;
  padding: 38px 0 39px;

  @media (min-width: 768px) {
    width: 768px;
    padding: 46px 0 57px;
  }

  @media (min-width: 1150px) {
    width: 1150px;
    padding: 70px 50px 106px 224px;
  }
}

.contacts__wrapper {
  @media (min-width: 1150px) {
    display: grid;
    grid-template-columns: 349px 527px;
  }
}

.contacts__title {
  margin: 0 30px 28px;
  font-size: 25px;
  line-height: 30px;

  @media (min-width: 768px) {
    margin: 22px 50px 49px;
    font-size: 43px;
    line-height: 50px;
  }

  @media (min-width: 1150px) {
    margin: 80px 60px 35px 0;
    font-size: 53px;
    line-height: 57px;
  }
}

.contacts__address {
  margin: 0 30px 62px;

  @media (min-width: 768px) {
    margin: 0 50px 49px;
  }

  @media (min-width: 1150px) {
    margin: 0 23px 85px 0;
  }
}

.contacts__map {
  display: block;
  width: 320px;
  height: 454px;
  margin-bottom: 42px;

  @media (min-width: 768px) {
    width: 768px;
    height: 457px;
    margin-bottom: 55px;
  }

  @media (min-width: 1150px) {
    grid-row: 1 / 4;
    grid-column: 2 / 3;
    width: 527px;
    margin: 0;
  }
}

.contacts__link {
  width: 260px;
  margin: 0 30px;

  @media (min-width: 768px) {
    width: 230px;
    margin: 0 auto;
  }

  @media (min-width: 1150px) {
    height: 52px;
    box-sizing: border-box;
    margin: auto auto 0 0;
  }
}
