.event-list {
  display: none;
  margin: 0;
  font-size: 15px;

  @media (min-width: 1150px) {
    display: flex;
    order: 3;
  }
}

.event-list__item-link {
  text-decoration: none;
  color: #000000;

  &:hover {
    color: #666666;
  }

  &:active {
    color: #b3b3b3;
  }

  @media (min-width: 1150px) {
    display: block;
    width: 185px;
    padding-top: 19px;
    margin-right: 35px;
  }
}
