.intro-button {
  display: flex;
  justify-content: space-between;
  width: 100%;
  min-height: 103px;
  padding: 21px 36px 21px 30px;
  border: none;
  color: #ffffff;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 19px;
  font-weight: 700;
  line-height: 24px;
  background-color: #63d1bb;

  @media (min-width: 768px) {
    min-height: 119px;
    padding: 25px 36px 34px 36px;
    width: 50%;
    font-size: 20px;
    line-height: 30px;
  }

  &--secondary {
    padding-right: 27px;
    background-color: #56c3b2;

    @media (min-width: 768px) {
      padding-right: 33px;
    }
  }
}

.intro-button__text {
  display: flex;
  align-self: center;
  text-align: start;
  width: 130px;
}
