.intro-button {
  min-height: 119px;
  border: none;
  color: #FFFFFF;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  background-color: #63D1BB;


  &--secondary {
    background-color: #56C3B2;
  }
}
