.intro {
  padding-top: 73px;
  position: relative;
  background-image: url("../img/hero-desktop.png");
  background-repeat: no-repeat;
  background-size: auto 373px;
  background-position: center -17px;

  @media (min-width: 768px) {
    padding-top: 155px;

    &::before {
      content: "";
      position: absolute;
      height: 24px;
      width: 768px;
      bottom: -6px;
      left: 0;
      background-image: url("../img/zigzag-fill-desktop.svg");
      background-repeat: no-repeat;
      background-size: 768px;
    }
  }

  @media (min-width: 1150px) {
    padding-top: 158px;

    &::before {
      height: 34px;
      width: 1150px;
      background-size: 1150px;
    }
  }
}

.intro__title {
  max-width: 260px;
  font-size: 27px;
  text-align: center;
  line-height: 30px;
  margin: 0 auto;
  margin-bottom: 120px;

  @media (min-width: 768px) {
    max-width: 668px;
    font-size: 43px;
    line-height: 50px;
    margin-bottom: 372px;
  }

  @media (min-width: 1150px) {
    max-width: 700px;
    font-size: 53px;
    line-height: 57px;
    margin-bottom: 355px;
  }
}
