.intro {
  box-sizing: border-box;
  width: 320px;
  margin: 0 auto;
  padding-top: 73px;
  background-image: url("../img/hero-mobile.png");
  background-repeat: no-repeat;
  background-size: auto 373px;
  background-position: center -17px;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/hero-mobile@2x.png");
  }

  @media (min-width: 768px) {
    width: 768px;
    margin-top: -45px;
    padding-top: 154px;
    background-image: url("../img/hero-desktop.png");
    background-size: 1150px auto;
    background-position: center;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/hero-desktop@2x.png");
    }
  }

  @media (min-width: 1150px) {
    width: 1150px;
    padding-top: 157px;
  }
}

.intro__wrapper {
  position: relative;
  align-content: space-between;
  min-height: 489px - 73px;

  @media (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    min-height: 746px - 154px;
    padding: 0 50px;

    &::before {
      z-index: 1;
      content: "";
      position: absolute;
      height: 24px;
      width: 100%;
      bottom: -12px;
      left: 0;
      background-image: url("../img/zigzag-fill-desktop.svg");
      background-repeat: no-repeat;
      background-size: 100%;
    }
  }

  @media (min-width: 1150px) {
    min-height: 747px - 158px;

    &::before {
      height: 34px;
      bottom: -17px;
    }
  }
}

.intro__title {
  max-width: 260px;
  font-size: 27px;
  text-align: center;
  line-height: 30px;
  margin: 0 auto;
  margin-bottom: 120px;

  @media (min-width: 768px) {
    max-width: 668px;
    font-size: 43px;
    line-height: 50px;
    margin-bottom: 0;
  }

  @media (min-width: 1150px) {
    max-width: 700px;
    font-size: 53px;
    line-height: 57px;
  }
}
