.main-product {
  position: relative;
  padding: 31px 30px 42px;

  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 7px;
    width: 320px;
    background-image: url("../img/zigzag-line-desktop.svg");
    background-repeat: no-repeat;
    background-size: 320px;
    background-position: top;
  }

  @media (min-width: 768px) {
    padding: 40px 50px 69px;

    &::before {
      width: 768px;
      height: 17px;
      background-size: 768px;
    }
  }

  @media (min-width: 1150px) {
    padding: 54px 50px 96px;

    &::before {
      left: 50px;
      width: 1050px;
      height: 23px;
      background-size: 1050px;
    }
  }
}

// .main-product__wrapper {
// }

.main-product__title {
  margin: 0;
  margin-bottom: 3px;
  font-size: 25px;
  line-height: 30px;

  @media (min-width: 768px) {
    font-size: 43px;
    line-height: 50px;
    margin-bottom: 38px;
  }

  @media (min-width: 1150px) {
    font-size: 53px;
    line-height: 57px;
    margin-bottom: 35px;
  }
}

.main-product__label {
  margin: 0;
  margin-bottom: 18px;
  width: 160px;
  font-size: 17px;
  font-weight: 700;
  line-height: 20px;

  &--attention {
    color: #63d1bb;
    text-transform: uppercase;
  }

  @media (min-width: 768px) {
    width: 100px;
    line-height: 17px;
    text-align: center;
  }
}

.main-product__description {
  margin: 0;
  margin-bottom: 28px;
  font-size: 15px;
  line-height: 24px;
  color: #444444;

  @media (min-width: 768px) {
    margin-bottom: 48px;
    font-size: 17px;
    line-height: 30px;
  }

  @media (min-width: 1150px) {
    margin-bottom: 60px;
  }
}

.main-product__list {
  display: grid;
  grid-template-columns: 97px 162px;
  gap: 8px 0;
  margin: 0;
  margin-bottom: 28px;
  font-size: 15px;
  line-height: 20px;
  color: #444444;
}

.main-product__term {
  min-height: 32px;
  border-bottom: 1px solid #ececec;
}

.main-product__definition {
  margin: 0;
  border-bottom: 1px solid #ececec;
}

.main-product__image {
  display: block;
  width: 260px;
  height: 315px;

  @media (min-width: 768px) {
    width: 334px;
    height: 404px;
  }
}

.main-product__price {
  margin: 25px 0;
  text-align: center;
  font-size: 17px;
  font-weight: 700;
  line-height: 24px;
  color: #444444;

  @media (min-width: 768px) {
    font-size: 20px;
  }
}
