.main-product {
  position: relative;
  padding: 31px 0 42px;

  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 7px;
    width: 100%;
    background-image: url("../img/zigzag-line-desktop.svg");
    background-repeat: repeat;
    background-size: 320px;
    background-position: top;
  }

  @media (min-width: 768px) {
    padding: 52px 0 69px;

    &::before {
      height: 17px;
      background-size: 768px;
    }
  }

  @media (min-width: 1150px) {
    padding: 64px 0 96px;

    &::before {
      height: 23px;
      background-size: 1050px;
    }
  }
}

.main-product__wrapper {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0 30px;
  width: 320px;
  display: flex;
  flex-wrap: wrap;
  position: relative;

  @media (min-width: 768px) {
    width: 768px;
    padding: 0 50px;
  }

  @media (min-width: 1150px) {
    width: 1150px;
  }
}

.main-product__title {
  margin: 0;
  margin-bottom: 3px;
  font-size: 25px;
  line-height: 30px;

  @media (min-width: 768px) {
    font-size: 43px;
    line-height: 50px;
    margin-bottom: 38px;
  }

  @media (min-width: 1150px) {
    position: absolute;
    order: 1;
    top: 67px;
    left: 224px;
    font-size: 53px;
    line-height: 57px;
    margin-bottom: 35px;
  }
}

.main-product__label {
  margin: 0;
  margin-bottom: 18px;
  width: 160px;
  font-size: 17px;
  font-weight: 700;
  line-height: 20px;

  &--attention {
    color: #63d1bb;
    text-transform: uppercase;
  }

  @media (min-width: 768px) {
    width: 100px;
    margin: 6px 13px 0 auto;
    line-height: 17px;
    text-align: center;
  }

  @media (min-width: 1150px) {
    order: 0;
    margin: 75px 43px 0 32px;
  }
}

.main-product__section {
  @media (min-width: 768px) {
    display: grid;
    grid-template-columns: 292px 334px;
    gap: 0 42px;
  }

  @media (min-width: 1150px) {
    order: 2;
    grid-template-columns: 292px 525px;
    gap: 0 58px;
  }
}

.main-product__section picture {
  @media (min-width: 768px) {
    display: inherit;
    grid-row: 1 / 5;
    grid-column: 2 / 3;
  }
}


.main-product__description {
  margin: 0 0 28px;
  font-size: 15px;
  line-height: 24px;
  color: #444444;

  @media (min-width: 768px) {
    margin-bottom: 47px;
    font-size: 17px;
    line-height: 30px;
  }

  @media (min-width: 1150px) {
    margin-top: 161px;
    margin-bottom: 59px;
  }
}

.main-product__list {
  display: grid;
  grid-template-columns: 97px 162px;
  gap: 8px 0;
  margin: 0;
  margin-bottom: 28px;
  font-size: 15px;
  line-height: 20px;
  color: #444444;

  @media (min-width: 768px) {
    grid-template-columns: 97px 195px;
    margin-bottom: 34px;
  }

  @media (min-width: 1150px) {
    margin-bottom: 88px;
  }
}

.main-product__term {
  box-sizing: border-box;
  min-height: 32px;
  border-bottom: 1px solid #ececec;
}

.main-product__definition {
  margin: 0;
  border-bottom: 1px solid #ececec;
}

.main-product__image {
  display: block;
  width: 260px;
  height: 315px;

  @media (min-width: 768px) {
    margin-top: 12px;
    grid-column: 2 / 3;
    grid-row: 1 / 5;
    width: 334px;
    height: 404px;
  }

  @media (min-width: 1150px) {
    width: 525px;
    height: 636px;
    margin-top: auto;
  }
}

.main-product__price {
  margin: 29px 0 23px;
  text-align: center;
  font-size: 17px;
  font-weight: 700;
  line-height: 24px;
  color: #444444;

  @media (min-width: 768px) {
    font-size: 20px;
    margin: 25px 0 33px;
  }
}
