.menu-button {
  background-color: transparent;
  background-image: url("../img/menu-open.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.menu-button--close {
  background-image: url("../img/menu-close.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.menu-button--hide {
  display: none;
}
