.modal-form__group {
  margin: 0;
  padding: 0;
  border: none;
}

.modal-form__title {
  margin: 0 auto 19px;
  padding: 0;
  font-size: 17px;
  line-height: 30px;
  text-align: center;
}

.modal-form__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
