.product__link {
  text-decoration: none;
  color: #000000;
}

.product__image {
  margin-bottom: 27px;
}

.product__title {
  margin: 0;
  margin-bottom: 6px;
  font-size: 20px;
  line-height: 24px;
}

.product__description {
  margin: 0;
  margin-bottom: 36px;
  font-size: 15px;
  line-height: 30px;
  color: #444444;
}

.product__price {
  font-size: 17px;
  line-height: 24px;
}
