.product__link {
  text-decoration: none;
  color: #000000;
}

.product__image {
  width: 260px;
  height: 195px;
  object-fit: cover;
  object-position: 0 0;

  @media (min-width: 768px) {
    width: 334px;
    height: 334px;
  }

  @media (min-width: 1150px) {
    width: 316px;
    height: 462px;
    object-position: -72px 0;
  }
}

.product__title {
  margin: 28px 28px 6px;
  font-size: 17px;
  line-height: 24px;

  @media (min-width: 768px) {
    font-size: 20px;
  }
}

.product__description {
  margin: 0 28px 18px;
  font-size: 13px;
  line-height: 30px;
  color: #444444;

  @media (min-width: 768px) {
    font-size: 15px;
  }
}

.product__price {
  margin: 22px 28px 26px;
  font-size: 15px;
  line-height: 24px;

  @media (min-width: 768px) {
    font-size: 17px;
  }
}
