.production {
  box-sizing: border-box;
  width: 320px;
  margin: 0 auto;
  padding: 0 30px 58px;

  @media (min-width: 768px) {
    width: 768px;
    padding: 0 50px 64px;
  }

  @media (min-width: 1150px) {
    width: 1150px;
    padding: 0 50px 105px;
  }
}

.production__wrapper {
  position: relative;
  padding: 21px 0 32px;
  border: 1px solid #ececec;

  @media (min-width: 768px) {
    display: flex;
    flex-direction: column;
    padding: 0 0 46px;
  }

  @media (min-width: 1150px) {
    display: grid;
    grid-template-columns: 682px 368px;
    padding-bottom: 0;
  }

  &:hover {
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
  }

  &:active {
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  }
}

.production__wrapper picture {
  display: inherit;
  grid-row: 1 / 4;
}

.production__title {
  position: relative;
  margin: 0 0 26px 0;
  padding-left: 91px;
  font-size: 20px;
  line-height: 24px;

  @media (min-width: 768px) {
    order: 2;
    margin: 41px 0 25px 0;
    padding-left: 107px;
  }

  @media (min-width: 1150px) {
    margin: 96px 110px 28px 80px;
    padding: 0;
  }

  &::before {
    content: "";
    position: absolute;
    top: 14px;
    left: 34px;
    width: 32px;
    height: 22px;
    background-image: url("../img/production.svg");
    background-repeat: no-repeat;

    @media (min-width: 768px) {
      top: 0;
      left: 42px;
    }

    @media (min-width: 1150px) {
      top: -49px;
      left: 0;
    }
  }
}

.production__description {
  margin: 35px 0 41px 34px;
  font-size: 13px;
  line-height: 24px;
  color: #444444;

  @media (min-width: 768px) {
    order: 3;
    margin: 0 40px 40px 40px;
    font-size: 15px;
    line-height: 30px;
  }

  @media (min-width: 1150px) {
    margin: 0 36px 51px 80px;
  }
}

.production__button {
  width: 192px;
  margin: 0 auto;

  @media (min-width: 768px) {
    order: 4;
    width: 584px;
    margin: 0 42px;
  }

  @media (min-width: 1150px) {
    width: 230px;
    margin: 0 0 60px 80px;
  }
}
