.site-list {
  margin: 0;

  @media (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    width: 350px;
    order: 2;
    font-size: 15px;
  }

  @media (min-width: 1150px) {
    order: 0;
    position: relative;
    width: auto;
    max-width: 450px;
    font-size: 17px;
    line-height: 24px;

    &::after {
      content: "";
      position: absolute;
      height: 1px;
      width: 100%;
      bottom: 0;
      left: -50px;
      border-bottom: 1px solid #e1e1e1;
    }
  }
}

.site-list__item {
  @media (min-width: 1150px) {
    display: flex;
    width: 184px;
    margin-right: 35px;

    &--border {
      border-right: 1px solid #e1e1e1;
    }
  }
}


.site-list__item-link {
  display: flex;
  align-items: center;
  height: 79px;
  padding-left: 76px;
  text-decoration: none;
  color: #000000;

  @media (min-width: 768px) {
    width: 167px;
    height: auto;
    padding: 0;
    padding-top: 20px;
  }

  @media (min-width: 1150px) {
    padding: 0;
  }
}
