.social {
  border-bottom: 1px solid #e5e5e5;

  @media (min-width: 768px) {
    border-bottom: 0;
  }
}

.social__list {
  display: flex;
  justify-content: center;
  margin: 0;
  margin-bottom: 28px;
  padding: 0;
  list-style-type: none;

  @media (min-width: 768px) {
    margin: 0;
  }
}

.social__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28px;
  min-height: 27px;

  &:not(:last-child) {
    margin-right: 29px;
  }
}

.social__link {
  display: flex;

  &:hover {
    fill: #46c1ae;
  }

  &:active {
    opacity: 0.3;
  }
}
