.user-list {
  margin: 0;

  @media (min-width: 768px) {
    display: flex;
    order: 1;
  }
}

.user-list__item {
  position: relative;

  @media (min-width: 768px) {
    min-width: 82px;
  }
}

.user-list__item-link {
  display: flex;
  align-items: center;
  height: 79px;
  padding-left: 76px;
  text-decoration: none;
  color: #000000;

  @media (min-width: 768px) {
    height: 89px;
    padding-left: 81px;
    border-left: 1px solid #e1e1e1;
  }
}

.user-list__icon {
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
}

.user-list__search-icon {
  left: 32px;
}

.user-list__cart-icon {
  left: 30px;
}

.user-list__item-text {
  @media (min-width: 768px) {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
}
