.video-button {
  position: absolute;
  width: 100px;
  height: 77px;
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;

  &:hover {
    transform: scale(1.2);
  }

  &:active {
    transform: scale(0.8);
    opacity: 0.7;
  }

  @media (min-width: 768px) {
    width: 102px;
    height: 78px;
  }

  @media (min-width: 1150px) {
    left: 290px;
  }
}

.video-button img {
  @media (min-width: 768px) {
    width: 102px;
    height: 78px;
  }
}
