.video {
  display: block;
  width: 260px;
  height: 150px;
  object-fit: cover;
  object-position: center;

  @media (min-width: 768px) {
    width: 668px;
    height: 455px;
  }

  @media (min-width: 1150px) {
    width: 682px;
  }
}

.video__button {
  top: 133px;
  left: 80px;

  @media (min-width: 768px) {
    top: 189px;
    left: 283px;
  }
}
